:root {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(210deg, #1a2051 0%, #321851 100%);
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.App {
  margin: 0rem 1rem;
  text-align: center;
}

.copyright {
  margin-top: 3rem;
  color: rgb(247, 247, 247);
}

.copyright > a {
  text-decoration: none;
  color: lightblue;
}
